body {
background-color: #f5f5f5;
border: 10px black;

}
h1, h2, h3, p{
color: 333;
text-align:center;
text-shadow: 1px 1px 0 #fff;

}

.image1 {
  border-radius: 50%;
  width: 150px;
  height:150px;
}

body {
  margin: 0.2em;
  font-family: sans-serif;
  font-size:30px;
  border: 10px solid black;
}


header {
  background-color: #204f7d;
  color: #ffff00;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2px;
  width: 100%;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-bar li {
  position: relative;
  display: inline-block;
  background-color: #204f7d
}

.nav-bar li a {
  color: black;
  text-decoration: none;
  padding: 20px;
  display: block;
  
}

.nav-bar li a:hover {
  background-color: #444;
}

main {
  padding: 10px;
}



@media only screen and (max-width: 600px) {
  .image1 {
    width: 80px;
    height: 80px;
  }
  

.img-9 {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  border: 2px solid #000;
}


.img-10 {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  border: 2px solid #000;
}

.img-8 {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  border: 1.5px solid #000;
}

.img-7 {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  border: 1.5px solid #000;
}

.img-6 {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  border: 1.5px solid #000;
}

.img-5 {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  border: 1.5px solid #000;
}

.img-4 {
  display: block;
  margin: auto;
  width: 100%; /* Adjust this value as needed */
  height: auto;
  border: 1.5px solid #000;
}

.img-3 {
  display: block;
  margin: auto;
  width: 100%;
  height: auto%;
  border: 1.5px solid #000;
}

.centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.centered-image img {
  max-width: 90%;
  max-height: 90%;
}

.class-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-bottom: 20p;
  max-width: 100%;
}