body {
background-color: #f5f5f5;
border: 10px black;

}
h1, h2, h3, p{
color: 333;
text-align:center;
text-shadow: 1px 1px 0 #fff;

}

.image1 {
  border-radius: 50%;
  width: 150px;
  height:150px;
}

body {
  margin: 0.2em;
  font-family: sans-serif;
  font-size:30px;
  border: 10px solid black;
}


header {
  background-image: url('https://lh3.googleusercontent.com/pw/AJFCJaXoz1h_6np_rsq4lEBNgnm3Mf_upmfukPPtp80tQ_pLHayv-EarQ74UQbA01SCLB5mI_ixmsbSh2wKDpHXJ64rEYQBUV3IveD5n7DmQnWtjSUxEHAPK2gzvMrFUl6My2G23YOb01OlyskN0Txq6OkEs=w1826-h578-s-no?authuser=0');
  background-color: #204f7d;
  color: #ffff00;
  padding: 20px;
}


/* Your existing styles */

.nav-bar {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-bar li {
  position: relative;
  display: inline-block;
}

.nav-bar li a {
  color: #ffff00;
  text-decoration: none;
  padding: 20px;
  display: block;
  background-color: transparent; /* Remove the background color */
  border: none; /* Remove the border */
}

.nav-bar li a:hover {
  background-color: transparent; /* Remove the background color on hover */
  border: none; /* Remove the border on hover */
}

/* Mobile-specific styles */

@media screen and (max-width: 767px) {
  .nav-bar li {
    display: block;
    margin-bottom: 10px;
  }

  .nav-bar li a {
    padding: 10px;
  }
}
main {
  padding: 10px;
}



@media only screen and (max-width: 600px) {
  .image1 {
    width: 80px;
    height: 80px;
  }
  

.img-9 {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  border: 2px solid #000;
}


.img-10 {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  border: 2px solid #000;
}

.img-8 {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  border: 1.5px solid #000;
}

.img-7 {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  border: 1.5px solid #000;
}

.img-6 {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  border: 1.5px solid #000;
}

.img-5 {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  border: 1.5px solid #000;
}

.img-4 {
  display: block;
  margin: auto;
  width: 100%; /* Adjust this value as needed */
  height: auto;
  border: 1.5px solid #000;
}

.img-3 {
  display: block;
  margin: auto;
  width: 100%;
  height: auto%;
  border: 1.5px solid #000;
}

.centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.centered-image img {
  max-width: 90%;
  max-height: 90%;
}

.class-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-bottom: 20p;
  max-width: 100%;
}