body {
background-color: #f5f5f5;
border: 10px solid black;

}

h1, h2, h3, h4, p{
color: 333;
text-align:center;
text-shadow: 1px 1px 0 #fff;

}


/*Add styling to header image*/
.image1 {
  border-radius: 50%;
  width: 150px;
  height:150px;

}

/* Add some styling for the website */

body {
  margin: 0.5px;
  font-family: sans-serif;
  font-size:30px;
 
}
  

/* Style the header */
header {
  background-color: #204f7d;
  color: #ffff00;
  padding: 20px;
  }

.nav-bar {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #204f7d
}

.nav-bar li {
  position: relative;
  display: inline-block;
  background-color: #204f7d
}

.nav-bar li a {
  color: black;
  text-decoration: none;
  padding: 20px;
  display: block;
  
}

.nav-bar li a:hover {
  background-color: #444;
}

/* Style the main content */
main {
  padding: 40px;
  border: 1px solid #ddd;
}

.class-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}


/*style of blog link pictures*/
.img-2 {
  max-width: 60%;
  height: auto;
  margin: 10px auto;
  border: 4px solid black;
  display: block;
}


.img-9 {
  display: block;
  margin: auto;
  max-width: 60%;
  height: auto;
  border: 1.5px solid #000;
}

.img-6 {
  display: block;
  margin: auto;
  max-width: 90%;
  height: auto;
  border: 1.5px solid #000;
}

.img-7 {
  display: block;
  margin: auto;
  max-width: 60%;
  height: auto;
  border: 1.5px solid #000;
}

.img-8 {
  display: block;
  margin: auto;
  max-width: 60%;
  height: auto;
  border: 1.5px solid #000;
}

.img-5 {
  display: block;
  margin: auto;
  max-width: 60%;
  height: auto;
  border: 1.5px solid #000;
}

.img-10 {
  display: block;
  margin: auto;
  max-width: 30%;
  height: auto;
  border: 5px solid #000;
}

.img-4 {
  display: block;
  margin: auto;
  width: 100%; /* Adjust this value as needed */
  height: auto;
  border: 1.5px solid #000;
}


.img-3 {
  display: block;
  margin: auto;
  width: 60%;
  height: auto%;
  border: 1.5px solid #000;
}

.img-11 {
  display: block;
  margin: auto;
  max-width: 60%;
  height: auto;
  border: 1.5px solid #000;
}

.centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.centered-image img {
  max-width: 90%;
  max-height: 90%;
}






button {
  background-color: #204f7d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 0 auto;
  cursor: pointer;
}




